<form [formGroup]="form">
  <div class="form-group">
    <label for="old">
      Old Password
    </label>
    <input type="password" class="form-control" id="old" formControlName="old">
    <div *ngIf="old.touched && old.invalid" class="alert alert-danger">
      <div *ngIf="old.errors.required">Old password required</div>
      <div *ngIf="old.errors.WrongPassowrd">Incorrect password</div>
    </div>
  </div>

  <div class="form-group">
    <label for="new">
      New Password
    </label>
    <input type="password" class="form-control" id="new" formControlName="new">
    <div *ngIf="new.touched && new.invalid" class="alert alert-danger">New password required</div>
  </div>

  <div class="form-group">
    <label for="confirm">
      Confirm New Password
    </label>
    <input type="password" class="form-control" id="confirm" formControlName="confirm">
    <div *ngIf="confirm.touched && confirm.invalid" class="alert alert-danger">
      <div *ngIf="confirm.errors.required">Confirm password required</div>
    </div>
    <div *ngIf="confirm.valid && form.invalid && form.errors.passwordMissmatch" class="alert alert-danger">Passwords do not match</div>
  </div>
  <button class="btn btn-primary" type="submit">Change</button>

  <div>{{ form.invalid | json }}, {{ form.errors | json }}</div>
</form>