<div class="container">
    <div class="panel panel-default">
            <div class="panel-heading" (click)='onClick()'>
                <h3 class="panel-title">{{ title }}<span class="glyphicon pull-right" [ngClass]='{
                  "glyphicon-menu-down": droppedDown,
                  "glyphicon-menu-up": !droppedDown
                }'></span></h3>
              </div>
              <div class="panel-body" [hidden]='!droppedDown'>
                <ng-content></ng-content>
              </div>
      </div>
</div>

